.container {
    margin: auto;
    color: red;
}

.foo-aaa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:100px;
}

.foo2 {
    max-width: 1000px;
    overflow: hidden;
}

.foo3 {
    color: yellow;
    margin: 10px;
}

.foo4 {
    display: flex;
    align-items: center;
}
